Repository apache/hudi, pull requests merged in 2022-09, with the labels that each got.

#6438 [HUDI-4642] Adding support to hudi-cli to repair deprecated partition
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/RepairsCommand.java
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/SparkMain.java
  hudi-cli/src/test/java/org/apache/hudi/cli/commands/TestRepairsCommand.java
  hudi-client/hudi-java-client/src/test/resources/testDataGeneratorSchema.txt
  hudi-client/hudi-spark-client/src/test/resources/testDataGeneratorSchema.txt
  hudi-common/src/test/java/org/apache/hudi/common/testutils/HoodieTestDataGenerator.java
Labels: priority:blocker, cli

#6549 [HUDI-4751] Fix owner instants for transaction manager api callers
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/transaction/lock/InProcessLockProvider.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/clean/CleanActionExecutor.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/restore/BaseRestoreActionExecutor.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/rollback/BaseRollbackActionExecutor.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/client/transaction/TestInProcessLockProvider.java
Labels: multi-writer, on-call-triaged

#6539 [HUDI-4739] Wrong value returned when key's length equals 1
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/keygen/KeyGenUtils.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/keygen/TestKeyGenUtils.java
Labels: priority:critical, writer-core

#6485 [HUDI-4528] Add diff tool to compare commit metadata
  hudi-cli/src/main/java/org/apache/hudi/cli/HoodieTableHeaderFields.java
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/CommitsCommand.java
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/CompactionCommand.java
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/DiffCommand.java
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/HoodieSyncValidateCommand.java
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/RollbacksCommand.java
  hudi-cli/src/main/java/org/apache/hudi/cli/utils/CommitUtil.java
  hudi-cli/src/test/java/org/apache/hudi/cli/commands/TestCommitsCommand.java
  hudi-cli/src/test/java/org/apache/hudi/cli/commands/TestCompactionCommand.java
  hudi-cli/src/test/java/org/apache/hudi/cli/commands/TestDiffCommand.java
  hudi-cli/src/test/java/org/apache/hudi/cli/testutils/HoodieTestCommitMetadataGenerator.java
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableMetaClient.java
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieArchivedTimeline.java
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieDefaultTimeline.java
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/TimelineUtils.java
Labels: pr:wip, cli

#6587 [HUDI-4775] Fixing incremental source for MOR table
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/IncrSourceHelper.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestHoodieIncrSource.java
Labels: priority:critical, reader-core, incremental-query

#6594 [minor] following HUDI-4739, fix the extraction for simple record keys
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/keygen/KeyGenUtils.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/keygen/TestKeyGenUtils.java
Labels: priority:major, writer-core

#6420 [HUDI-4634] Update schema provider configuration in MTDS blog
  website/blog/2020-08-22-ingest-multiple-tables-using-hudi.md
Labels: docs

#6582 [DOCS] Add Flink DataStream API demo in Flink Guide.
  website/docs/flink-quick-start-guide.md
  website/versioned_docs/version-0.12.0/flink-quick-start-guide.md
Labels: docs, flink

#6500 [HUDI-4720] Fix HoodieInternalRow return wrong num of fields when sou…
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/model/HoodieInternalRow.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/model/TestHoodieInternalRow.java
Labels: priority:critical, spark

#6098 [HUDI-4389] Make HoodieStreamingSink idempotent
  hudi-common/src/main/java/org/apache/hudi/common/util/CommitUtils.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieStreamingSink.scala
  hudi-spark-datasource/hudi-spark/src/test/java/HoodieJavaStreamingApp.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestStructuredStreaming.scala
  style/scalastyle.xml
Labels: spark-streaming

#6604 [MINOR] Fix remove redundant brace
  hudi-cli/src/main/scala/org/apache/hudi/cli/DedupeSparkJob.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/HoodieSqlCommonUtils.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/DedupeSparkJob.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/RunClusteringProcedure.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/ValidateHoodieSyncProcedure.scala
  hudi-spark-datasource/hudi-spark2/src/main/scala/org/apache/spark/sql/avro/AvroDeserializer.scala
  hudi-spark-datasource/hudi-spark2/src/main/scala/org/apache/spark/sql/avro/AvroSerializer.scala
Labels: priority:minor

#6392 [HUDI-4618] Separate log word for CommitUitls class
  hudi-common/src/main/java/org/apache/hudi/common/util/CommitUtils.java
Labels: priority:minor

#6589 [HUDI-4776] Fix merge into use unresolved assignment
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/analysis/HoodieAnalysis.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestMergeIntoTable.scala
Labels: priority:critical, spark-sql

#6577 [DOCS] Fix Redshift spectrum Hudi version details
  website/docs/query_engine_setup.md
  website/versioned_docs/version-0.10.0/query_engine_setup.md
  website/versioned_docs/version-0.10.1/query_engine_setup.md
  website/versioned_docs/version-0.10.1/querying_data.md
  website/versioned_docs/version-0.11.0/query_engine_setup.md
  website/versioned_docs/version-0.11.0/querying_data.md
  website/versioned_docs/version-0.11.1/query_engine_setup.md
  website/versioned_docs/version-0.11.1/querying_data.md
  website/versioned_docs/version-0.12.0/query_engine_setup.md
  website/versioned_docs/version-0.12.0/querying_data.md
  website/versioned_docs/version-0.5.2/querying_data.md
  website/versioned_docs/version-0.6.0/querying_data.md
  website/versioned_docs/version-0.7.0/querying_data.md
  website/versioned_docs/version-0.8.0/querying_data.md
  website/versioned_docs/version-0.9.0/querying_data.md
Labels: docs

#6350 [HUDI-4610] Document list of metrics emitted by Hudi
  website/docs/metrics.md
Labels: docs

#6613 [HUDI-4635] Update 2022 H2 roadmap
  website/src/pages/roadmap.md
Labels: docs

#6571 [HUDI-4795] Fix KryoException when bulk insert into a not bucket index hudi table
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/utils/Pipelines.java
Labels: priority:critical, writer-core, flink

#6387 [HUDI-4615] Return checkpoint as null for empty data from events queue.
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/S3EventsMetaSelector.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/helpers/TestS3EventsMetaSelector.java
Labels: aws-support, priority:major, deltastreamer

#6468 [HUDI-4731] Shutdown CloudWatch reporter when query completes
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/Metrics.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/DefaultSource.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestCOWDataSource.scala
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/HoodieDeltaStreamer.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/functional/TestHoodieDeltaStreamer.java
Labels: priority:critical, deltastreamer, metrics

#6627 [DOCS] Add blogs to Hudi website
  website/blog/2022-08-09-How-NerdWallet-uses-AWS-and-Apache-Hudi-to-build-a-serverless-real-time-analytics-platform.mdx
  website/blog/2022-08-12-Use-Flink-Hudi-to-Build-a-Streaming-Data-Lake-Platform.mdx
  website/blog/2022-08-25-Data-Lake-Lakehouse-Guide-Powered-by-Data-Lake-Table-Formats-Delta-Lake-Iceberg-Hudi.mdx
  website/static/assets/images/blog/2022-08-09-How-NerdWallet-uses-AWS-and-Apache-Hudi-to-build-a-serverless-real-time-analytics-platform.png
  website/static/assets/images/blog/2022-08-12-Use-Flink-Hudi-to-Build-a-Streaming-Data-Lake-Platform.png
  website/static/assets/images/blog/2022-08-25-Data-Lake-Lakehouse-Guide-Powered-by-Data-Lake-Table-Formats-Delta-Lake-Iceberg-Hudi.png
Labels: docs

#6566 [HUDI-4766] Strengthen flink clustering job
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/client/clustering/plan/strategy/FlinkSizeBasedClusteringPlanStrategy.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/configuration/FlinkOptions.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/ClusteringCommitSink.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/ClusteringOperator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/FlinkClusteringConfig.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/HoodieFlinkClusteringJob.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/compact/HoodieFlinkCompactor.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/util/StreamerUtil.java
Labels: priority:major, flink, table-service

#6016 [HUDI-4465] Optimizing file-listing sequence of Metadata Table
  docker/demo/config/dfs-source.properties
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadataWriter.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/keygen/BuiltinKeyGenerator.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/keygen/SimpleKeyGenerator.java
  hudi-client/hudi-spark-client/src/main/scala/org/apache/spark/sql/execution/datasources/SparkParsePartitionUtil.scala
  hudi-client/hudi-spark-client/src/main/scala/org/apache/spark/sql/hudi/SparkAdapter.scala
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestConsistentBucketIndex.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/TestHoodieMergeOnReadTable.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/functional/TestHoodieSparkMergeOnReadTableCompaction.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/functional/TestHoodieSparkMergeOnReadTableIncrementalRead.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/functional/TestHoodieSparkMergeOnReadTableRollback.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/testutils/HoodieClientTestHarness.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/testutils/SparkClientFunctionalTestHarness.java
  hudi-common/src/main/java/org/apache/hudi/BaseHoodieTableFileIndex.java
  hudi-common/src/main/java/org/apache/hudi/common/fs/FSUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/model/BaseFile.java
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableMetaClient.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/block/HoodieHFileDataBlock.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/AbstractTableFileSystemView.java
  hudi-common/src/main/java/org/apache/hudi/common/util/CollectionUtils.java
  hudi-common/src/main/java/org/apache/hudi/hadoop/CachingPath.java
  hudi-common/src/main/java/org/apache/hudi/hadoop/SerializablePath.java
  hudi-common/src/main/java/org/apache/hudi/io/storage/HoodieHFileUtils.java
  hudi-common/src/main/java/org/apache/hudi/metadata/BaseTableMetadata.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadata.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieMetadataPayload.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieTableMetadata.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/HoodieTestUtils.java
  hudi-hadoop-mr/src/test/java/org/apache/hudi/hadoop/testutils/InputFormatTestUtil.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/SparkHoodieTableFileIndex.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestTimeTravelQuery.scala
  hudi-spark-datasource/hudi-spark2/src/main/scala/org/apache/spark/sql/adapter/Spark2Adapter.scala
  hudi-spark-datasource/hudi-spark2/src/main/scala/org/apache/spark/sql/execution/datasources/Spark2ParsePartitionUtil.scala
  hudi-spark-datasource/hudi-spark3-common/src/main/java/org/apache/hudi/spark3/internal/ReflectUtil.java
  hudi-spark-datasource/hudi-spark3-common/src/main/scala/org/apache/spark/sql/adapter/BaseSpark3Adapter.scala
  hudi-spark-datasource/hudi-spark3-common/src/main/scala/org/apache/spark/sql/execution/datasources/Spark3ParsePartitionUtil.scala
  hudi-utilities/src/test/java/org/apache/hudi/utilities/functional/TestHoodieDeltaStreamer.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestHoodieIncrSource.java
Labels: performance, priority:critical, metadata

#6629 [HUDI-4807] Use base table instant for metadata table initialization
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/index/ScheduleIndexActionExecutor.java
Labels: priority:critical

#5091 [HUDI-3453] Fix HoodieBackedTableMetadata concurrent reading issue
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestHoodieBackedTableMetadata.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieBackedTableMetadata.java
Labels: priority:critical, metadata

#6631 [HUDI-4810] Fixing Hudi bundles requiring log4j2 on the classpath
  hudi-aws/pom.xml
  hudi-cli/pom.xml
  hudi-client/hudi-client-common/pom.xml
  hudi-client/hudi-flink-client/pom.xml
  hudi-client/hudi-java-client/pom.xml
  hudi-client/hudi-spark-client/pom.xml
  hudi-common/pom.xml
  hudi-examples/hudi-examples-java/pom.xml
  hudi-examples/hudi-examples-spark/pom.xml
  hudi-flink-datasource/hudi-flink/pom.xml
  hudi-flink-datasource/hudi-flink1.13.x/pom.xml
  hudi-flink-datasource/hudi-flink1.14.x/pom.xml
  hudi-flink-datasource/hudi-flink1.15.x/pom.xml
  hudi-gcp/pom.xml
  hudi-hadoop-mr/pom.xml
  hudi-integ-test/pom.xml
  hudi-kafka-connect/pom.xml
  hudi-spark-datasource/hudi-spark-common/pom.xml
  hudi-spark-datasource/hudi-spark/pom.xml
  hudi-spark-datasource/hudi-spark3.2.x/pom.xml
  hudi-spark-datasource/hudi-spark3.3.x/src/test/resources/log4j-surefire-quiet.properties
  hudi-spark-datasource/hudi-spark3.3.x/src/test/resources/log4j-surefire.properties
  hudi-sync/hudi-adb-sync/pom.xml
  hudi-sync/hudi-datahub-sync/pom.xml
  hudi-sync/hudi-hive-sync/pom.xml
  hudi-sync/hudi-sync-common/pom.xml
  hudi-tests-common/pom.xml
  hudi-timeline-service/pom.xml
  hudi-utilities/pom.xml
  packaging/hudi-integ-test-bundle/pom.xml
  packaging/hudi-kafka-connect-bundle/pom.xml
  packaging/hudi-timeline-server-bundle/pom.xml
  pom.xml
Labels: dependencies, priority:blocker

#6544 [HUDI-4826] When Hudi choose Append save mode in Spark, the basepath may be error codes
  hudi-common/src/main/java/org/apache/hudi/common/table/view/RemoteHoodieTableFileSystemView.java
Labels: priority:critical, writer-core

#6506 [HUDI-4763] Allow hoodie read client to choose index
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/HoodieReadClient.java
Labels: priority:minor, index, reader-core

#6648 [DOCS] Fix Slack invite link in README.md
  README.md
Labels: docs

#4958 [HUDI-3558] Consistent bucket index: bucket resizing (split&merge) & concurrent write during resizing
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieClusteringConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieIndexConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/index/HoodieIndex.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/index/bucket/BucketIndexLocationMapper.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/index/bucket/ConsistentBucketIdentifier.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/index/bucket/HoodieBucketIndex.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/index/bucket/HoodieSimpleBucketIndex.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieAppendHandle.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/cluster/ClusteringPlanActionExecutor.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/cluster/strategy/ClusteringPlanStrategy.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/cluster/strategy/PartitionAwareClusteringPlanStrategy.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/cluster/strategy/UpdateStrategy.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/BaseBulkInsertHelper.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/BaseCommitActionExecutor.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/storage/HoodieConsistentBucketLayout.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/config/TestHoodieWriteConfig.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/index/bucket/TestBucketIdentifier.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/index/bucket/TestConsistentBucketIdIdentifier.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/client/clustering/plan/strategy/FlinkSizeBasedClusteringPlanStrategy.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/client/clustering/plan/strategy/JavaSizeBasedClusteringPlanStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/plan/strategy/SparkConsistentBucketClusteringPlanStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/plan/strategy/SparkSingleFileSortPlanStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/plan/strategy/SparkSizeBasedClusteringPlanStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/run/strategy/MultipleSparkJobExecutionStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/run/strategy/SparkConsistentBucketClusteringExecutionStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/run/strategy/SparkSingleFileSortExecutionStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/run/strategy/SparkSortAndSizeExecutionStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/update/strategy/BaseSparkUpdateStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/update/strategy/SparkAllowUpdateStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/update/strategy/SparkConsistentBucketDuplicateUpdateStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/update/strategy/SparkRejectUpdateStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/execution/bulkinsert/BulkInsertInternalPartitionerFactory.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/execution/bulkinsert/RDDBucketIndexPartitioner.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/execution/bulkinsert/RDDConsistentBucketPartitioner.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/index/bucket/HoodieSparkConsistentBucketIndex.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/commit/BaseSparkCommitActionExecutor.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/commit/SparkBulkInsertHelper.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/commit/SparkInsertOverwritePartitioner.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/deltacommit/BaseSparkDeltaCommitActionExecutor.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/clustering/plan/strategy/TestSparkConsistentBucketClusteringPlanStrategy.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestConsistentBucketIndex.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestSparkConsistentBucketClustering.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/index/TestHoodieIndexConfigs.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/index/bucket/TestHoodieSimpleBucketIndex.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/testutils/HoodieMergeOnReadTestUtils.java
  hudi-common/src/main/avro/HoodieClusteringGroup.avsc
  hudi-common/src/main/java/org/apache/hudi/common/model/ConsistentHashingNode.java
  hudi-common/src/main/java/org/apache/hudi/common/model/FileSlice.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieConsistentHashingMetadata.java
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/HoodieInstantTimeGenerator.java
  hudi-common/src/main/java/org/apache/hudi/common/util/HoodieRecordSizeEstimator.java
Labels: priority:critical, index

#6637 [HUDI-4831] Fix AWSDmsAvroPayload#getInsertValue,combineAndGetUpdateValue to invoked correct api
  hudi-common/src/main/java/org/apache/hudi/common/model/AWSDmsAvroPayload.java
  hudi-common/src/test/java/org/apache/hudi/common/model/TestAWSDmsAvroPayload.java
Labels: aws-support, priority:critical, writer-core

#6628 [HUDI-4806] Use Avro version from the root pom for Flink bundle
  packaging/hudi-flink-bundle/pom.xml
Labels: dependencies, priority:critical, spark, flink

#6647 [DOCS] Add more FAQs
  website/docs/faq.md
Labels: docs

#6616 [HUDI-4833] Add Postgres Schema Name to Postgres Debezium Source
  hudi-common/src/main/java/org/apache/hudi/common/model/debezium/DebeziumConstants.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/debezium/PostgresDebeziumSource.java
Labels: priority:major, deltastreamer

#6646 [HUDI-4825] Remove redundant fields in serialized commit metadata in JSON
  hudi-common/src/main/java/org/apache/hudi/common/util/JsonUtils.java
  hudi-common/src/test/java/org/apache/hudi/common/model/TestHoodieCommitMetadata.java
  hudi-common/src/test/java/org/apache/hudi/common/model/TestHoodieReplaceCommitMetadata.java
Labels: priority:critical, writer-core

#5919 [MINOR] Insert should call validateInsertSchema in HoodieFlinkWriteClient
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/client/HoodieFlinkWriteClient.java
Labels: schema-and-data-types, priority:minor

#6622 [HUDI-3893][DOCS] Add a note about lifecycle policies
  website/docs/cloud.md
Labels: docs

#5219 [MINOR] Update concepts.md
  website/docs/concepts.md
  website/versioned_docs/version-0.10.0/concepts.md
  website/versioned_docs/version-0.10.1/concepts.md
  website/versioned_docs/version-0.11.0/concepts.md
  website/versioned_docs/version-0.11.1/concepts.md
  website/versioned_docs/version-0.12.0/concepts.md
Labels: docs

#5344 [HUDI-3879] Suppress exceptions that are not fatal in HoodieMetadataTableValidator
  hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieMetadataTableValidator.java
Labels: priority:major, metadata

#5630 [HUDI-3994] - Added support for initializing DeltaStreamer without a …
  hudi-utilities/src/main/java/org/apache/hudi/utilities/UtilHelpers.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/HoodieDeltaStreamer.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/HoodieMultiTableDeltaStreamer.java
Labels: priority:major, deltastreamer

#6574 [HUDI-4814] Schedules new clustering plan based on latest clustering instant
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/cluster/ClusteringPlanActionExecutor.java
Labels: priority:critical, table-service

#6667 [HUDI-4817] Delete markers after full-record bootstrap operation
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/bootstrap/SparkBootstrapCommitActionExecutor.java
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/TestBootstrap.java
Labels: priority:critical, writer-core

#6608 [HUDI-4752] Add dedup support for MOR table in cli
  hudi-cli/src/main/scala/org/apache/hudi/cli/DedupeSparkJob.scala
  hudi-cli/src/test/java/org/apache/hudi/cli/integ/ITTestRepairsCommand.java
Labels: priority:major, cli

#6270 [HUDI-4837] Stop sleeping where it is not necessary after the success
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/KafkaOffsetGen.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/BaseTestKafkaSource.java
Labels: priority:critical, deltastreamer

#6602 [HUDI-4780] hoodie.logfile.max.size It does not take effect, causing the log file to be too large
  hudi-common/src/main/java/org/apache/hudi/common/fs/SizeAwareFSDataOutputStream.java
Labels: priority:blocker, writer-core

#6666 [MINOR] Fix the Spark job status description for metadata-only bootstrap operation
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/bootstrap/SparkBootstrapCommitActionExecutor.java
Labels: priority:minor

#6654 [DOCS] fix site tags various style issues
  website/src/css/custom.css
  website/src/theme/BlogLayout/index.js
  website/src/theme/BlogPostItem/index.js
  website/src/theme/BlogPostItem/styles.module.css
Labels: docs

#6645 [HUDI-3403] Ensure keygen props are set for bootstrap
  hudi-common/src/main/java/org/apache/hudi/common/table/HoodieTableMetaClient.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/TestHoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestDataSourceForBootstrap.scala
Labels: priority:critical, writer-core

#5784 [HUDI-4193] Upgrade Protobuf to 3.21.5
  pom.xml
Labels: dependencies, priority:critical

#6683 [HUDI-4759] Update website with validations
  website/docs/quick-start-guide.md
  website/versioned_docs/version-0.12.0/quick-start-guide.md
Labels: docs

#6673 [HUDI-4785] Fix partition discovery in bootstrap operation
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieBootstrapConfig.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/bootstrap/SparkBootstrapCommitActionExecutor.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/bootstrap/SparkBootstrapDeltaCommitActionExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/table/TableSchemaResolver.java
  hudi-common/src/test/java/org/apache/hudi/common/table/TestTableSchemaResolver.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieBootstrapRelation.scala
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/bootstrap/SparkFullBootstrapDataProviderBase.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestDataSourceForBootstrap.scala
Labels: priority:critical, writer-core

#6486 [HUDI-4706] Fix InternalSchemaChangeApplier#applyAddChange error to add nest type
  hudi-common/src/main/java/org/apache/hudi/internal/schema/action/InternalSchemaChangeApplier.java
  hudi-common/src/main/java/org/apache/hudi/internal/schema/action/TableChangesHelper.java
  hudi-common/src/test/java/org/apache/hudi/internal/schema/action/TestTableChanges.java
Labels: schema-and-data-types, priority:major, spark

#6685 [HUDI-4851] Fixing CSI not handling `InSet` operator properly
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/DataSkippingUtils.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/TestDataSkippingUtils.scala
Labels: priority:critical, spark, index

#6619 [HUDI-4796] MetricsReporter stop bug
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/ConsoleMetricsReporter.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/InMemoryMetricsReporter.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/JmxMetricsReporter.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/Metrics.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/MetricsGraphiteReporter.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/MetricsReporter.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/cloudwatch/CloudWatchMetricsReporter.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/datadog/DatadogMetricsReporter.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/prometheus/PrometheusReporter.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/prometheus/PushGatewayMetricsReporter.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/metrics/TestMetricsReporterFactory.java
Labels: priority:critical, metrics

#5320 [HUDI-3861] update tblp 'path' when rename table
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/command/AlterHoodieTableRenameCommand.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestAlterTable.scala
Labels: priority:major, spark-sql

#6690 [DOCS] fix: blog image landing page
  website/src/css/custom.css
Labels: docs

#6689 [HUDI-4853] Get field by name for OverwriteNonDefaultsWithLatestAvroP…
  hudi-common/src/main/java/org/apache/hudi/common/model/OverwriteNonDefaultsWithLatestAvroPayload.java
  hudi-common/src/test/java/org/apache/hudi/common/model/TestOverwriteNonDefaultsWithLatestAvroPayload.java
Labels: priority:major, writer-core

#6634 [HUDI-4813] Fix infer keygen not work in sparksql side issue
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/DataSourceOptions.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/catalyst/catalog/HoodieCatalogTable.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/TestHoodieSparkSqlWriter.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestCreateTable.scala
Labels: priority:critical, spark, writer-core

#6693 [HUDI-4856] Missing option for HoodieCatalogFactory
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/catalog/CatalogOptions.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/catalog/HoodieCatalogFactory.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/catalog/TestHoodieCatalogFactory.java
Labels: priority:critical, flink

#6688 [HUDI-4864] Fix AWSDmsAvroPayload#combineAndGetUpdateValue when using MOR snapshot query after delete operations
  hudi-common/src/main/java/org/apache/hudi/common/model/AWSDmsAvroPayload.java
  hudi-common/src/test/java/org/apache/hudi/common/model/TestAWSDmsAvroPayload.java
Labels: aws-support, priority:critical, writer-core

#6669 [HUDI-4841] Fix BlockLocation array sorting idempotency issue
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/format/cow/CopyOnWriteInputFormat.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/table/format/cow/TestBlockLocationSort.java
Labels: priority:critical, writer-core, flink

#6702 [HUDI-4865] Optimize HoodieAvroUtils#isMetadataField to use O(1) comp…
  hudi-common/src/main/java/org/apache/hudi/avro/HoodieAvroUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieRecord.java
  hudi-common/src/test/java/org/apache/hudi/avro/TestHoodieAvroUtils.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/table/catalog/HiveSchemaUtils.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieSparkSqlWriter.scala
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/DeltaSync.java
Labels: priority:minor

#6536 [HUDI-4736] Fix inflight clean action preventing clean service to continue when multiple cleans are not allowed
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/BaseHoodieWriteClient.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/TestCleaner.java
Labels: priority:critical, writer-core, on-call-triaged, table-service

#6670 [HUDI-4842] Support compaction strategy based on delta file num
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieCompactionConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/compact/strategy/LogFileNumBasedCompactionStrategy.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/action/compact/strategy/TestHoodieCompactionStrategy.java
Labels: priority:major, writer-core

#6031 [HUDI-4282] Repair IOException in CHDFS when check block corrupted in HoodieLogFileReader
  hudi-common/src/main/java/org/apache/hudi/common/fs/BoundedFsDataInputStream.java
  hudi-common/src/main/java/org/apache/hudi/common/fs/FSUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieLogFileReader.java
Labels: priority:major, reader-core

#6672 [HUDI-4757] Create pyspark examples
  hudi-examples/hudi-examples-spark/src/test/java/org/apache/hudi/examples/quickstart/TestHoodieSparkQuickstart.java
  hudi-examples/hudi-examples-spark/src/test/python/HoodiePySparkQuickstart.py
  hudi-examples/hudi-examples-spark/src/test/python/README.md
  hudi-spark-datasource/hudi-spark/src/main/java/org/apache/hudi/QuickstartUtils.java
Labels: priority:major

#6701 [DOCS] Fix typo in File Sizing docs
  website/docs/file_sizing.md
  website/versioned_docs/version-0.10.0/file_sizing.md
  website/versioned_docs/version-0.10.1/file_sizing.md
  website/versioned_docs/version-0.11.0/file_sizing.md
  website/versioned_docs/version-0.11.1/file_sizing.md
  website/versioned_docs/version-0.12.0/file_sizing.md
Labels: docs

#5409 [HUDI-3959] Rename class name for spark rdd reader
  hudi-cli/src/test/java/org/apache/hudi/cli/functional/CLIFunctionalTestHarness.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/HoodieReadClient.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/SparkRDDReadClient.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/TestHoodieReadClient.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/TestHoodieMergeOnReadTable.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/action/compact/CompactionTestBase.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/action/compact/TestAsyncCompaction.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/action/compact/TestInlineCompaction.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/testutils/FunctionalTestHarness.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/testutils/HoodieClientTestHarness.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/testutils/HoodieClientTestUtils.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/testutils/SparkClientFunctionalTestHarness.java
  hudi-examples/hudi-examples-spark/src/test/java/org/apache/hudi/examples/quickstart/TestHoodieSparkQuickstart.java
  hudi-spark-datasource/hudi-spark-common/src/main/java/org/apache/hudi/DataSourceUtils.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/TestHoodieIndexer.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/TestHoodieRepairTool.java
Labels: priority:minor, spark

#6650 [HUDI-4828] Fix the extraction of record keys which may be cut out
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/keygen/KeyGenUtils.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/keygen/TestKeyGenUtils.java
Labels: priority:critical, writer-core

#6271 [HUDI-4873] Report number of messages to be processed via metrics
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/HoodieDeltaStreamerMetrics.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/KafkaSource.java
Labels: priority:major, metrics

#6706 [HUDI-4870] Improve compaction config description
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieCompactionConfig.java
Labels: docs

#4676 [HUDI-3304] Support partial update payload
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/BaseWriteHelper.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieWriteHelper.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/action/commit/FlinkWriteHelper.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/table/action/commit/JavaWriteHelper.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestHoodieClientOnCopyOnWriteStorage.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/functional/TestHoodieSparkMergeOnReadTableCompaction.java
  hudi-common/src/main/java/org/apache/hudi/common/config/SerializableSchema.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieRecordPayload.java
  hudi-common/src/main/java/org/apache/hudi/common/model/OverwriteNonDefaultsWithLatestAvroPayload.java
  hudi-common/src/main/java/org/apache/hudi/common/model/PartialUpdateAvroPayload.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/AbstractHoodieLogRecordReader.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieMergedLogRecordScanner.java
  hudi-common/src/test/java/org/apache/hudi/common/model/TestPartialUpdateAvroPayload.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/StreamWriteFunction.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/functional/TestHoodieDeltaStreamer.java
Labels: priority:major, writer-core

#6630 [HUDI-4808] Fix HoodieSimpleBucketIndex not consider bucket num in lo…
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/index/HoodieIndexUtils.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/index/bucket/HoodieSimpleBucketIndex.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/testutils/HoodieWriteableTestTable.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/index/bucket/TestHoodieSimpleBucketIndex.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/testutils/HoodieSparkWriteableTestTable.java
Labels: priority:major, index

#6662 [HUDI-4832] Fix drop partition meta sync
  hudi-common/src/main/java/org/apache/hudi/common/table/timeline/TimelineUtils.java
  hudi-common/src/main/java/org/apache/hudi/metadata/HoodieTableMetadataUtil.java
  hudi-common/src/test/java/org/apache/hudi/common/table/TestTimelineUtils.java
  hudi-sync/hudi-adb-sync/src/main/java/org/apache/hudi/sync/adb/AdbSyncTool.java
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/HiveSyncTool.java
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/TestHiveSyncTool.java
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/testutils/HiveTestUtil.java
  hudi-sync/hudi-sync-common/src/main/java/org/apache/hudi/sync/common/HoodieSyncClient.java
Labels: meta-sync, priority:critical

#6710 [HUDI-4810] Fix log4j imports to use bridge API
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/callback/client/http/HoodieWriteCommitHttpCallbackClient.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/datadog/DatadogHttpClient.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/datadog/DatadogReporter.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/plan/strategy/SparkConsistentBucketClusteringPlanStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/run/strategy/SparkConsistentBucketClusteringExecutionStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/update/strategy/SparkConsistentBucketDuplicateUpdateStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/execution/bulkinsert/RDDConsistentBucketPartitioner.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/testutils/HoodieMergeOnReadTestUtils.java
Labels: dependencies, priority:blocker

#5920 [HUDI-4326] add updateTableSerDeInfo for HiveSyncTool
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/HiveSyncTool.java
  hudi-sync/hudi-hive-sync/src/main/java/org/apache/hudi/hive/HoodieHiveSyncClient.java
  hudi-sync/hudi-hive-sync/src/test/java/org/apache/hudi/hive/TestHiveSyncTool.java
  hudi-sync/hudi-sync-common/src/main/java/org/apache/hudi/sync/common/HoodieMetaSyncOperations.java
Labels: priority:critical, hive

#6708 [DOCS] Improve the quick start guide for Kafka Connect Sink
  hudi-kafka-connect/README.md
Labels: docs

#6516 [HUDI-4729] Fix fq can not be queried in pending compaction when query ro table with spark
  hudi-common/src/main/java/org/apache/hudi/BaseHoodieTableFileIndex.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieFileGroup.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/AbstractTableFileSystemView.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestQueryMergeOnReadOptimizedTable.scala
Labels: priority:critical, spark, reader-core

#6715 [HUDI-3983] ClassNotFoundException when using hudi-spark-bundle to write table with hbase index
  hudi-common/src/main/resources/hbase-site.xml
  packaging/hudi-spark-bundle/pom.xml
Labels: dependencies, priority:critical

#6615 [HUDI-4758] Add validations to java spark examples
  hudi-examples/hudi-examples-common/src/main/java/org/apache/hudi/examples/common/HoodieExampleDataGenerator.java
  hudi-examples/hudi-examples-spark/src/main/java/org/apache/hudi/examples/quickstart/HoodieSparkQuickstart.java
Labels: priority:major, spark

#6580 [HUDI-4792] Batch clean files to delete
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/clean/CleanPlanActionExecutor.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/clean/CleanPlanner.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/functional/TestHoodieSparkCopyOnWriteTableArchiveWithReplace.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/AbstractTableFileSystemView.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/PriorityBasedFileSystemView.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/RemoteHoodieTableFileSystemView.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/TableFileSystemView.java
Labels: priority:critical, writer-core, table-service

#6132 [RFC-46][HUDI-4414] Update the RFC-46 doc to fix comments feedback
  rfc/rfc-46/rfc-46.md
Labels: priority:blocker, big-needle-movers, rfc

#6046 [HUDI-4363] Support Clustering row writer to improve performance
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/HoodieInternalWriteStatus.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/run/strategy/MultipleSparkJobExecutionStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/run/strategy/SparkConsistentBucketClusteringExecutionStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/run/strategy/SparkSingleFileSortExecutionStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/run/strategy/SparkSortAndSizeExecutionStrategy.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/execution/bulkinsert/RDDSpatialCurveSortPartitioner.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/execution/bulkinsert/RowSpatialCurveSortPartitioner.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/execution/bulkinsert/SpatialCurveSortPartitionerBase.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/io/storage/row/HoodieRowCreateHandle.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/commit/BulkInsertDataInternalWriterHelper.java
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/HoodieDatasetBulkInsertHelper.scala
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/HoodieUnsafeRDD.scala
  hudi-client/hudi-spark-client/src/main/scala/org/apache/hudi/SparkAdapterSupport.scala
  hudi-client/hudi-spark-client/src/main/scala/org/apache/spark/sql/HoodieUnsafeUtils.scala
  hudi-client/hudi-spark-client/src/main/scala/org/apache/spark/sql/hudi/SparkAdapter.scala
  hudi-common/src/main/java/org/apache/hudi/common/config/HoodieConfig.java
  hudi-common/src/main/java/org/apache/hudi/common/fs/FSUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieRecord.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/HoodieROTablePathFilter.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/BaseFileOnlyRelation.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/DefaultSource.scala
  hudi-spark-datasource/hudi-spark/src/test/java/org/apache/hudi/functional/TestHoodieSparkMergeOnReadTableClustering.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestCOWDataSource.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestLayoutOptimization.scala
  hudi-spark-datasource/hudi-spark2/src/main/java/org/apache/hudi/internal/HoodieBulkInsertDataInternalWriter.java
  hudi-spark-datasource/hudi-spark2/src/main/scala/org/apache/spark/sql/adapter/Spark2Adapter.scala
  hudi-spark-datasource/hudi-spark3-common/src/main/java/org/apache/hudi/spark3/internal/HoodieBulkInsertDataInternalWriter.java
  hudi-spark-datasource/hudi-spark3-common/src/main/scala/org/apache/spark/sql/adapter/BaseSpark3Adapter.scala
Labels: priority:major, table-service

#6739 [HUDI-4851] Fixing handling of `UTF8String` w/in `InSet` operator
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/DataSkippingUtils.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/TestDataSkippingUtils.scala
  hudi-spark-datasource/hudi-spark2/src/main/scala/org/apache/spark/sql/catalyst/encoders/DummyExpressionHolder.scala
Labels: priority:blocker, priority:critical, spark

#6749 [HUDI-3901] Correct the description of hoodie.index.type
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieIndexConfig.java
Labels: docs

#6322 [HUDI-4559] Support hiveSync command based on Call Produce Command
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/ProvidesHoodieConfig.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/MergeIntoHoodieTableCommand.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/BaseProcedure.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/HiveSyncProcedure.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/procedures/HoodieProcedures.scala
Labels: meta-sync, priority:major, spark-sql

#6744 [HUDI-4883] Supporting delete savepoint for MOR
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/savepoint/SavepointHelpers.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestHoodieClientOnCopyOnWriteStorage.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/functional/TestHoodieSparkMergeOnReadTableRollback.java
Labels: priority:blocker, writer-core

#6740 [HUDI-4897] Refactor the merge handle in CDC mode
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieCDCLogger.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieMergeHandle.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieMergeHandleFactory.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieMergeHandleWithChangeLog.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieSortedMergeHandle.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieSortedMergeHandleWithChangeLog.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/io/HoodieWriteHandle.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/clean/CleanPlanner.java
  hudi-client/hudi-flink-client/src/main/java/org/apache/hudi/table/HoodieFlinkCopyOnWriteTable.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/table/HoodieJavaCopyOnWriteTable.java
  hudi-client/hudi-java-client/src/main/java/org/apache/hudi/table/action/commit/BaseJavaCommitActionExecutor.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/HoodieSparkCopyOnWriteTable.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/table/action/commit/BaseSparkCommitActionExecutor.java
  hudi-common/src/main/java/org/apache/hudi/common/table/cdc/HoodieCDCOperation.java
  hudi-common/src/main/java/org/apache/hudi/common/table/cdc/HoodieCDCSupplementalLoggingMode.java
  hudi-common/src/main/java/org/apache/hudi/common/table/cdc/HoodieCDCUtils.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/block/HoodieCDCDataBlock.java
Labels: priority:blocker, writer-core, big-needle-movers

#5031 [HUDI-3523] Introduce AddPrimitiveColumnSchemaPostProcessor to support add new primitive column to the end of a schema
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/AddColumnSchemaPostProcessor.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/TestSchemaPostProcessor.java
Labels: schema-and-data-types, priority:major

#6754 [MINOR] Fixing flaky test by drastically reducing concurrency level (to avoid CI flakiness)
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestHoodieBackedTableMetadata.java
Labels: priority:minor

#6763 [HUDI-4906] Fix the local tests for hudi-flink
  hudi-cli/pom.xml
  hudi-client/hudi-spark-client/pom.xml
  hudi-examples/hudi-examples-spark/pom.xml
  hudi-flink-datasource/hudi-flink/pom.xml
  hudi-spark-datasource/hudi-spark-common/pom.xml
  packaging/hudi-flink-bundle/pom.xml
  pom.xml
Labels: priority:critical, flink

#6735 [HUDI-4892] Fix hudi-spark3-bundle
  pom.xml
Labels: dependencies, priority:blocker, priority:critical, spark

#6684 [DOCS] Add Documentation for running unit tests/debugger with spark3
  website/contribute/developer-setup.md
Labels: docs

#6752 [HUDI-4010] Improve docs on DynamoDB-based lock provider
  website/docs/concurrency_control.md
  website/versioned_docs/version-0.10.0/concurrency_control.md
  website/versioned_docs/version-0.10.1/concurrency_control.md
  website/versioned_docs/version-0.11.0/concurrency_control.md
  website/versioned_docs/version-0.11.1/concurrency_control.md
  website/versioned_docs/version-0.12.0/concurrency_control.md
Labels: docs, aws-support

#6730 [HUDI-4884] Fixing faq for indexes with hudi and fixing docker demo for hive sync
  website/docs/docker_demo.md
  website/docs/faq.md
  website/versioned_docs/version-0.12.0/faq.md
Labels: docs

#6784 [MINOR] Fix a few typos in HoodieIndex
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/index/HoodieIndex.java
Labels: docs, priority:minor

#6728 [DOCS] Update s3_hoodie.md
  website/docs/s3_hoodie.md
  website/versioned_docs/version-0.12.0/s3_hoodie.md
Labels: docs

#6130 [HUDI-4412] Multiple writers NPE when Insert_overwrite
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/transaction/ConcurrentOperation.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/client/transaction/TestSimpleConcurrentFileWritesConflictResolutionStrategy.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/HoodieTestTable.java
Labels: priority:blocker, writer-core, multi-writer

#6783 [MINOR] retain avro's namespace
  hudi-common/src/main/java/org/apache/hudi/internal/schema/convert/AvroInternalSchemaConverter.java
  hudi-common/src/main/java/org/apache/hudi/internal/schema/utils/AvroSchemaEvolutionUtils.java
Labels: schema-and-data-types, priority:minor

#6765 [MINOR] Simple logging fix in LockManager
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/transaction/lock/LockManager.java
Labels: priority:minor

#6349 [HUDI-4433] Hudi-CLI repair deduplicate not working with non-partitio…
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/RepairsCommand.java
  hudi-cli/src/test/java/org/apache/hudi/cli/integ/ITTestRepairsCommand.java
  hudi-common/src/test/java/org/apache/hudi/common/testutils/HoodieTestDataGenerator.java
Labels: priority:major, cli

#6256 [RFC-51][HUDI-3478] Update RFC: CDC support
  rfc/rfc-51/code-paths.jpg
  rfc/rfc-51/logic-flows.jpg
  rfc/rfc-51/rfc-51.md
  rfc/rfc-51/scenario-illustration.jpg
Labels: priority:critical, rfc

#6727 [HUDI-3478] Implement CDC Read in Spark
  hudi-common/src/main/java/org/apache/hudi/common/model/FileSlice.java
  hudi-common/src/main/java/org/apache/hudi/common/model/HoodieCommitMetadata.java
  hudi-common/src/main/java/org/apache/hudi/common/table/cdc/HoodieCDCExtractor.java
  hudi-common/src/main/java/org/apache/hudi/common/table/cdc/HoodieCDCFileSplit.java
  hudi-common/src/main/java/org/apache/hudi/common/table/cdc/HoodieCDCInferCase.java
  hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieCDCLogRecordIterator.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/AbstractTableFileSystemView.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/RocksDbBasedFileSystemView.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/DataSourceOptions.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/DefaultSource.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/EmptyRelation.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieDataSourceHelper.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieMergeOnReadRDD.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/LogFileIterator.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/SafeAvroProjection.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/cdc/CDCRelation.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/cdc/HoodieCDCRDD.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/streaming/HoodieStreamSource.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/cdc/HoodieCDCTestBase.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/cdc/TestCDCDataFrameSuite.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/cdc/TestCDCStreamingSuite.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestCDCForSparkSQL.scala
Labels: priority:blocker, big-needle-movers, reader-core

#6652 [HUDI-4830] Fix testNoGlobalConfFileConfigured when add hudi-defaults.conf in default dir
  hudi-common/src/test/java/org/apache/hudi/common/util/TestDFSPropertiesConfiguration.java
Labels: priority:minor

#6561 [HUDI-4760] Fixing repeated trigger of data file creations w/ clustering
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/BaseCommitActionExecutor.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/SparkRDDWriteClient.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestHoodieClientOnCopyOnWriteStorage.java
Labels: priority:blocker, table-service

#6792 [HUDI-4914] Managed memory weight should be set when sort clustering is enabled
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/clustering/ClusteringOperator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/utils/Pipelines.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/ITTestDataStreamWrite.java
Labels: priority:blocker

#6778 [HUDI-4910] Fix unknown variable or type "Cast"
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/payload/ExpressionCodeGen.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestMergeIntoTable2.scala
Labels: priority:critical, spark-sql

#6794 [HUDI-4918] Fix bugs about when trying to show the non -existing key from env, NullPointException occurs.
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/SparkEnvCommand.java
Labels: priority:minor, cli

#6719 [HUDI-4718] Add Kerberos kinit command support for cli.
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/KerberosAuthenticationCommand.java
Labels: priority:major, cli

#6759 [HUDI-4902] Set default partitioner for SIMPLE BUCKET index
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieLayoutConfig.java
  hudi-client/hudi-client-common/src/test/java/org/apache/hudi/config/TestHoodieWriteConfig.java
Labels: priority:critical, index

#6761 [HUDI-4904] Add support for unraveling proto schemas in ProtoClassBasedSchemaProvider
  hudi-utilities/src/main/java/org/apache/hudi/utilities/schema/ProtoClassBasedSchemaProvider.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/ProtoKafkaSource.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/ProtoConversionUtil.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/schema/TestProtoClassBasedSchemaProvider.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestProtoKafkaSource.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/helpers/TestProtoConversionUtil.java
  hudi-utilities/src/test/resources/schema-provider/proto/parent_schema_recursive_default_limit.avsc
  hudi-utilities/src/test/resources/schema-provider/proto/parent_schema_recursive_depth_2.avsc
  hudi-utilities/src/test/resources/schema-provider/proto/recursive.proto
  hudi-utilities/src/test/resources/schema-provider/proto/sample_schema_flattened.avsc
  hudi-utilities/src/test/resources/schema-provider/proto/sample_schema_flattened.txt
  hudi-utilities/src/test/resources/schema-provider/proto/sample_schema_nested.avsc
  hudi-utilities/src/test/resources/schema-provider/proto/sample_schema_nested.txt
  pom.xml
Labels: schema-and-data-types, priority:major

#6756 [HUDI-4805] Update FAQ with workarounds for HBase issues
  website/docs/faq.md
  website/versioned_docs/version-0.12.0/faq.md
Labels: docs

#6766 [HUDI-4907] Prevent single commit multi instant issue
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/StreamWriteOperatorCoordinator.java
  hudi-flink-datasource/hudi-flink/src/main/java/org/apache/hudi/sink/meta/CkpMetadata.java
  hudi-flink-datasource/hudi-flink/src/test/java/org/apache/hudi/sink/meta/TestCkpMetadata.java
Labels: priority:blocker, writer-core, flink

#6801 [HUDI-4923] Fixing flaky test in TestHoodieReadClient.testReadFilterExistAfterBulkInsertPrepped
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/TestHoodieReadClient.java
Labels: priority:blocker

#6731 [HUDI-4848] Fixing repair deprecated partition tool
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/SparkMain.java
Labels: priority:blocker

#6785 [HUDI-4913] Fix HoodieSnapshotExporter for writing to a different S3 bucket or FS
  hudi-utilities/src/main/java/org/apache/hudi/utilities/HoodieSnapshotExporter.java
Labels: priority:critical, on-call-triaged

#6676 [HUDI-4453] Fix schema to include partition columns in bootstrap operation
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/bootstrap/HoodieSparkBootstrapSchemaProvider.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/HoodieBootstrapRelation.scala
Labels: priority:blocker, writer-core

#4015 [HUDI-2780] Fix the issue of Mor log skipping complete blocks when reading data
  hudi-common/src/main/java/org/apache/hudi/common/table/log/HoodieLogFileReader.java
  hudi-common/src/test/java/org/apache/hudi/common/functional/TestHoodieLogFormat.java
Labels: priority:blocker, reader-core

#6802 [HUDI-4924] Auto-tune dedup parallelism
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/commit/HoodieWriteHelper.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/data/HoodieJavaRDD.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/client/functional/TestHoodieClientOnCopyOnWriteStorage.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/data/TestHoodieJavaRDD.java
  hudi-common/src/main/java/org/apache/hudi/common/data/HoodieData.java
  hudi-common/src/main/java/org/apache/hudi/common/data/HoodieListData.java
  hudi-common/src/test/java/org/apache/hudi/common/data/TestHoodieListData.java
Labels: priority:blocker

#6657 [HUDI-4687] Avoid setAccessible which breaks strong encapsulation
  hudi-common/pom.xml
  hudi-common/src/main/java/org/apache/hudi/common/util/ObjectSizeCalculator.java
  hudi-common/src/test/java/org/apache/hudi/common/util/TestObjectSizeCalculator.java
  hudi-integ-test/src/test/java/org/apache/hudi/integ/ITTestHoodieSanity.java
  packaging/hudi-flink-bundle/pom.xml
  packaging/hudi-hadoop-mr-bundle/pom.xml
  packaging/hudi-hive-sync-bundle/pom.xml
  packaging/hudi-integ-test-bundle/pom.xml
  packaging/hudi-kafka-connect-bundle/pom.xml
  packaging/hudi-presto-bundle/pom.xml
  packaging/hudi-spark-bundle/pom.xml
  packaging/hudi-trino-bundle/pom.xml
  packaging/hudi-utilities-bundle/pom.xml
  pom.xml
Labels: priority:blocker, writer-core

#6753 [HUDI-4734] Deltastreamer table config change validation
  hudi-utilities/src/main/java/org/apache/hudi/utilities/deltastreamer/HoodieDeltaStreamer.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/functional/TestHoodieDeltaStreamer.java
Labels: priority:blocker, deltastreamer

#6813 [HUDI-4934] Revert batch clean files
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/clean/CleanPlanActionExecutor.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/table/action/clean/CleanPlanner.java
  hudi-client/hudi-spark-client/src/test/java/org/apache/hudi/table/functional/TestHoodieSparkCopyOnWriteTableArchiveWithReplace.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/AbstractTableFileSystemView.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/PriorityBasedFileSystemView.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/RemoteHoodieTableFileSystemView.java
  hudi-common/src/main/java/org/apache/hudi/common/table/view/TableFileSystemView.java
Labels: priority:blocker

#6502 [HUDI-4722] Added locking metrics for Hudi
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/transaction/lock/LockManager.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/transaction/lock/metrics/HoodieLockMetrics.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/HoodieWriteConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/config/metrics/HoodieMetricsConfig.java
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/metrics/HoodieMetrics.java
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/SparkRDDWriteClient.java
Labels: priority:major, metrics

#5616 [HUDI-4936] Fix `as.of.instant` not recognized as hoodie config
  hudi-client/hudi-spark-client/src/main/java/org/apache/hudi/client/clustering/run/strategy/MultipleSparkJobExecutionStrategy.java
  hudi-common/src/main/java/org/apache/hudi/common/config/HoodieCommonConfig.java
  hudi-hadoop-mr/src/main/java/org/apache/hudi/hadoop/HoodieROTablePathFilter.java
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/hudi/DataSourceOptions.scala
  hudi-spark-datasource/hudi-spark-common/src/main/scala/org/apache/spark/sql/hudi/HoodieSqlCommonUtils.scala
Labels: priority:major, spark-sql

#6820 [HUDI-4861] Relaxing `MERGE INTO` constraints to permit limited casting operations w/in matched-on conditions
  hudi-client/hudi-spark-client/src/main/scala/org/apache/spark/sql/HoodieCatalystExpressionUtils.scala
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/MergeIntoHoodieTableCommand.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestMergeIntoTable.scala
  hudi-spark-datasource/hudi-spark2/src/main/scala/org/apache/spark/sql/HoodieSpark2CatalystExpressionUtils.scala
  hudi-spark-datasource/hudi-spark3.1.x/src/main/scala/org/apache/spark/sql/HoodieSpark31CatalystExpressionUtils.scala
  hudi-spark-datasource/hudi-spark3.2.x/src/main/scala/org/apache/spark/sql/HoodieSpark32CatalystExpressionUtils.scala
  hudi-spark-datasource/hudi-spark3.3.x/src/main/scala/org/apache/spark/sql/HoodieSpark33CatalystExpressionUtils.scala
Labels: priority:blocker, spark-sql, on-call-triaged

#6828 [HUDI-4951] Fix incorrect use of Long.getLong()
  hudi-client/hudi-client-common/src/main/java/org/apache/hudi/client/BaseHoodieWriteClient.java
Labels: priority:critical

#6664 [HUDI-4308] READ_OPTIMIZED read mode will temporary loss of data when compaction
  hudi-common/src/main/java/org/apache/hudi/BaseHoodieTableFileIndex.java
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/hudi/functional/TestMORDataSource.scala
Labels: priority:blocker, reader-core

#6833 [DOCS] Add new blogs
  README.md
  website/blog/2022-08-24-Implementation-of-SCD-2-with-Apache-Hudi-and-Spark.mdx
  website/blog/2022-09-20-Data-Lake-Lakehouse-Guide-Powered-by-Data-Lake-Table-Formats-Delta-Lake-Iceberg-Hudi.mdx
Labels: docs

#6355 [HUDI-4925] Should Force to use ExpressionPayload in MergeIntoTableCommand
  hudi-spark-datasource/hudi-spark/src/main/scala/org/apache/spark/sql/hudi/command/MergeIntoHoodieTableCommand.scala
  hudi-spark-datasource/hudi-spark/src/test/scala/org/apache/spark/sql/hudi/TestMergeIntoTable2.scala
Labels: priority:major, spark-sql

#6665 [HUDI-4850] Incremental Ingestion from GCS
  hudi-utilities/pom.xml
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/GcsEventsHoodieIncrSource.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/GcsEventsSource.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/HoodieIncrSource.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/CloudObjectsSelectorCommon.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/CloudStoreIngestionConfig.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/IncrSourceCloudStorageHelper.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/IncrSourceHelper.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/gcs/FileDataFetcher.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/gcs/FilePathsFetcher.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/gcs/GcsIngestionConfig.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/gcs/MessageBatch.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/gcs/MessageValidity.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/gcs/MetadataMessage.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/gcs/PubsubMessagesFetcher.java
  hudi-utilities/src/main/java/org/apache/hudi/utilities/sources/helpers/gcs/QueryInfo.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestGcsEventsHoodieIncrSource.java
  hudi-utilities/src/test/java/org/apache/hudi/utilities/sources/TestGcsEventsSource.java
  hudi-utilities/src/test/resources/delta-streamer-config/gcs-metadata.avsc
  pom.xml
Labels: priority:critical, deltastreamer, gcp-support

#6841 [DOCS] Fix typo in NonpartitionedKeyGenerator related docs
  website/blog/2021-02-13-hudi-key-generators.md
  website/blog/2021-08-18-virtual-keys.md
  website/docs/key_generation.md
  website/versioned_docs/version-0.10.0/key_generation.md
  website/versioned_docs/version-0.10.1/key_generation.md
  website/versioned_docs/version-0.11.0/key_generation.md
  website/versioned_docs/version-0.11.1/key_generation.md
  website/versioned_docs/version-0.12.0/key_generation.md
  website/versioned_docs/version-0.6.0/writing_data.md
  website/versioned_docs/version-0.7.0/writing_data.md
  website/versioned_docs/version-0.8.0/writing_data.md
Labels: docs

#6810 [HUDI-4718] Add Kerberos kdestroy command support
  hudi-cli/src/main/java/org/apache/hudi/cli/commands/KerberosAuthenticationCommand.java
Labels: priority:minor, cli
